
RewriteEngine on
RewriteCond %{HTTP_HOST} ^mateusbrandt\.colmeiacultural\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mateusbrandt\.colmeiacultural\.com\.br$
RewriteRule ^/?$ "http\:\/\/mateusbrandt\.com\.br\/" [R=301,L]

RewriteCond %{HTTP_REFERER} !^http://colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://danielbrandt.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://danielbrandt.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://danielbrandt.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://danielbrandt.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intranet.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://intranet.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mateusbrandt.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mateusbrandt.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mateusbrandt.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://mateusbrandt.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://webmail.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://webmail.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.danielbrandt.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.danielbrandt.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.danielbrandt.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.danielbrandt.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intranet.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.intranet.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mateusbrandt.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mateusbrandt.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mateusbrandt.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.mateusbrandt.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.webmail.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.webmail.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://danielbrandt.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://danielbrandt.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://danielbrandt.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://danielbrandt.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intranet.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://intranet.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mateusbrandt.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mateusbrandt.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mateusbrandt.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://mateusbrandt.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://webmail.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://webmail.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.danielbrandt.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.danielbrandt.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.danielbrandt.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.danielbrandt.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intranet.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.intranet.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mateusbrandt.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mateusbrandt.colmeiacultural.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mateusbrandt.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.mateusbrandt.com.br$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.webmail.colmeiacultural.com.br/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.webmail.colmeiacultural.com.br$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

