<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="Site pessoal contendo descrição e portfólio próprio do autor">
        
        <meta name="author" content="Mateus Brandt">
		
        <title>Mateus Brandt | Portfólio</title>
		
		<!-- Mobile Specific Meta
		================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.jpg" />
		
		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- bootstrap.min css -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Animate.css -->
        <link rel="stylesheet" href="css/animate.css">
		<!-- Owl Carousel -->
        <link rel="stylesheet" href="css/owl.carousel.css">
		<!-- Grid Component css -->
        <link rel="stylesheet" href="css/component.css">
		<!-- Slit Slider css -->
        <link rel="stylesheet" href="css/slit-slider.css">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Media Queries -->
        <link rel="stylesheet" href="css/media-queries.css">

		<!--
		Google Font
		=========================== -->                    
		
		<!-- Oswald / Title Font -->
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
		<!-- Ubuntu / Body Font -->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300' rel='stylesheet' type='text/css'>
		
		<!-- Modernizer Script for old Browsers -->		
        <script src="js/modernizr-2.6.2.min.js"></script>


		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-54152927-1', 'auto');
		  ga('send', 'pageview');
		
		</script>
		
    </head>
	
    <body ng-app="" id="body">
	    <!--
	    Start Preloader
	    ==================================== -->
		<div id="loading-mask">
			<div class="loading-img">
				<img alt="Carregando..." src="img/preloader_original.gif"  />
			</div>
		</div> 
        <!--
        End Preloader
        ==================================== -->
		
        <!--
        Welcome Slider
        ==================================== -->
		<section id="home">	    
		
            <div id="slitSlider" class="sl-slider-wrapper">
				<div class="sl-slider">
					
					<!-- single slide item -->
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-1"></div>
						<div class="carousel-caption">
							<div>
								<!-- <img class="wow fadeInUp" src="img/mateus_brandt.png" alt="Mateus"> -->
								<h2 id="texto-header" data-wow-duration="500ms"  data-wow-delay="500ms" class="heading animated fadeInDown">Mateus Beloso C. Brandt</h2>
								
								<hr class="linha_hreader">
								
								<span class="sub_titulo">
									<ul>
										<li><span data-wow-duration="500ms"  data-wow-delay="500ms" class="heading animated fadeInRight">BLENDER</span></li>
										<li><span data-wow-duration="500ms"  data-wow-delay="500ms" class="heading animated fadeInRight">3DS MAX</span></li>
										<li><span data-wow-duration="500ms"  data-wow-delay="500ms" class="heading animated fadeInRight">UNITY</span></li>
										<li><span data-wow-duration="500ms"  data-wow-delay="500ms" class="heading animated fadeInRight">WEB DESIGN</span></li>
									</ul>
								</span>
								<div class="header_bottom">
									<a href="#about"><i class="fa fa-angle-double-down fa-2x"></i> <br> CONHEÇA-ME</a>
								</div>
							</div>
						</div>
						</div>
					</div>
					<!-- /single slide item -->
					
					<!-- single slide item 
					<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-2"></div>
						<div class="carousel-caption">
							<div>
								<h2 class="heading animated fadeInDown">Highly Responsive</h2>
								<h3 class="animated fadeInUp">With all Mejor Browser support including IE 9</h3>
								<a class="btn btn-green animated fadeInUp" href="#">Get Started</a>
							</div>
						</div>
						</div>
					</div> -->
					<!-- /single slide item -->
					
					<!-- single slide item 
					<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
						<div class="sl-slide-inner">
							<div class="bg-img bg-img-3"></div>
						<div class="carousel-caption">
							<div>
								<h2 class="heading animated fadeInRight">One Page Parallax HTML Template</h2>
								<h3 class="animated fadeInLeft">Clean and Professional Design</h3>
								<a class="btn btn-green animated fadeInUp" href="#">Learn More</a>
							</div>
						</div>
						</div>
					</div> -->
					<!-- /single slide item -->

				</div><!-- /sl-slider 
				
				<nav id="nav-arrows" class="nav-arrows">
					<span class="nav-arrow-prev">Previous</span>
					<span class="nav-arrow-next">Next</span>
				</nav>

				<nav id="nav-dots" class="nav-dots">
					<span class="nav-dot-current"></span>
					<span></span>
					<span></span>
				</nav>-->

			</div><!-- /slider-wrapper -->
		</section>
		<!--/#home section-->
		
        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
                    <a class="navbar-brand" href="#body">
						<h1 id="logo">
							<img src="img/mateus.png" alt="Mateus" />
						</h1>
					</a>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="Navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li class="current"><a href="#body">HOME</a></li>
                        <li><a href="#about">SOBRE MIM</a></li>
                        <li><a href="#team-skills">COMPETÊNCIAS</a></li>
                        <li><a href="#showcase">PORTFÓLIO</a></li>
						<li><a href="#contact-us">CONTATO</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				
            </div>
        </header>
        <!--
        End Fixed Navigation
        ==================================== -->
		
		<!--
		Start About Section
		==================================== -->
		<section id="about" class="bg-two">
			<div class="container">
				<div class="row">
				
					<!-- section title -->
					<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
						<h2-white>Meu Diferencial<span class="color"></span></h2>
					</div>
					<!-- /section title -->
					
					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" >
						<div class="wrap-about">							
							<div class="icon-box">
								<i class="fa fa-user fa-4x"></i>
							</div>					
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white">Características Pessoais</h3>								
								<p class= "for_white_semi_black">De meus predicativos pessoais se destacam ser uma pessoa confiável, equilibrada, honesta e responsável. Apaixonado por Psicologia Comportamental, tenho o mindset voltado à evolução constante, o que me faz um eterno aluno.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
						<div class="wrap-about">
							<div class="icon-box">
								<i class="fa fa-user fa-4x"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class= "for_white">Características Profissionais</h3>
								<p class= "for_white_semi_black"> Reflexo de meu mindset, sou uma pessoa aberta a novidades, me autoavalio todos os dias na busca da excelência. Meu aprendizado se faz de forma empírica, "on the job" e independente.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="wrap-about kill-margin-bottom">
							<div class="icon-box">
								<i class="fa fa-angle-double-right fa-4x"></i>
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class= "for_white">Objetivos de Curto Prazo</h3>
								<p class= "for_white_semi_black">Workaholic no quesito modelagem 3D, procuro uma empresa que me permita crescer e demonstrar toda minha dedicação. No âmbito educacional, busco finalizar a fluência na língua inglesa e evoluir minhas habilidades em 3Ds Max a ponto de se equiparar aos meus conhecimentos de Blender.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
						</div>
					</div>
					<!-- /features item -->
					
				</div> 		<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->
		
		<!--
		Start Main Features
		==================================== -->
		
		
		<section id="main-features" class="bg-one">
			<div class="container">
				<div class="row">

					<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
						<h2>Sobre Mim<span class="color"></span></h2>
					</div>
					
				<!-- features item -->
					
					<div id="features">
						<div class="item">
							
							<div class="features-item">
								
								<!-- features media -->
								<div id="frase" class="col-md-4 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
								
									<img src="img/team/perfil.jpg" alt="imagem perfil" id="img_perfil"></img>
									
									<p align="center">
										<i class="fa fa-quote-left fa-2x fa-flip-vertical"></i> <font size="4" id="texto-margem"> <i>O sucesso é a soma de pequenos esforços repetidos dia após dia.</i></font>  <i class="fa fa-quote-right fa-2x"></i>
										<br> <div align="right" id="autor"> Robert Collier </div> 
										<br>
										<div id="centralizacao">
											<a href="Mateus Beloso Canicais Brandt.pdf" class="btn btn-transparent"> <i class="fa fa-download"></i> CURRÍCULO</a>
										</div>
										<br>
									</p>					
									
								</div>
								
								<!-- /features media -->
								
								<!-- features content -->
								<div id="texto_sobre" class="col-md-8 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
									<p>Com formação em <b>Jogos Digitais</b> pela Faculdade de Tecnologia de Lins (FATEC) e <b>Web Designer</b> pela Microcamp São Paulo, <b>ministrei aulas, cursos e palestras</b> sobre o assunto <b>ainda durante minha formação</b> e fui eleito o <b>melhor aluno</b> da região. Possuo, como principais feedbacks:<b> responsabilidade, confiança, complacência, entusiasmo</b> e <b>equilíbrio</b>. <br><br></p>
									<p>Acerca de minhas habilidades, <b>trabalhei profissionalmente</b> na área de <b>TI</b>, onde adquiri conhecimentos avançados de <b>Photoshop, Office, Windows, Hardware</b> e <b>Multimídia</b>, além de <b>Blender, Unity</b> e <b>3Ds Max</b>, adquiridos de forma <b>independente</b>. Possuo também conhecimentos em linguagem de programação, onde sou capaz de <b>codificar</b> nas linguagens <b>C#, C++, Java, Java Script, HTML, CSS, SQL, PHP</b> e <b>Python</b>. Estes, somam-se aos <b>conhecimentos administrativos</b> adquiridos durante o período de gerência operacional.<br><br></p>
									<p>Possuo também experiência profissional como <b>sócio fundador</b> e <b>responsável técnico</b> de uma <b>startup</b> de TI, além da prestação de <b>serviços autônomos</b> à <b>criação de jogos, virtualização de ambientes</b> e <b>websites</b>.<br><br></p>
									<p>De meus <b>predicativos pessoais</b>, tenho: a <b>receptividade</b>, busco a evolução constante e internalizo os feedbacks recebidos; a <b>satisfação do cliente</b>, reconheço a importância de formalidades e burocracia mas valorizo o resultado diante delas; a <b>dedicação</b>, me engajo à missão da empresa e as metas estabelecidas; e a <b>exigência</b>, prezo por agilidade e qualidade na entrega.<br><br></p>
									<p><b>Apaixonado por modelagem 3D</b>, meu <b>aprendizado</b> se faz de forma <b>empírica, "on the job"</b> e <b>independente</b>. Busco uma empresa em que possa me <b>dedicar</b> integralmente, em concomitância à <b>satisfação</b> e o <b>aprendizado</b> gerados pelo trabalho na área.<br><br></p>										
									
											   
									<!--<i class="fa fa-arrow-down"></i>-->
									
								</div>
								<!-- /features content -->
								
							</div>
						</div>
						<!--
						<div class="item">
							<div class="features-item">
							
								<!-- features media -->
								<!--
								<div class="col-md-6 feature-media wow fadeInUp" data-wow-duration="500ms">
									<img src="img/blog/3D-beach-art.jpg" alt="3D Beach Art | Meghna" class="img-responsive">
								</div>
								<!-- /features media -->
								
								<!-- features content -->
								<!--
								<div class="col-md-6 feature-desc wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
									<h3>Main Features of Meghna</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, dolores corporis maxime modi amet nisi quod delectus voluptas deleniti facere. Suscipit, modi ex magni quam nesciunt ullam nemo natus soluta!</p>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, dolores corporis maxime modi amet nisi quod delectus voluptas deleniti facere. Suscipit, modi ex magni quam nesciunt ullam nemo natus soluta!</p>
									<a href="#" class="btn btn-transparent">Learn More</a>
									<a href="#" class="btn btn-transparent">Purchase Theme</a>
								</div>
								<!-- /features content -->
								
							</div>	
				
				</div> 		<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->

		
		<!-- 
		Start competencias
		=========================================== -->
		
		<section id="team-preskills" class="parallax-section">
			<div class="container">
			<br><br><br><br><br><br><br><br>
			</div>   	<!-- End container -->
		</section>   <!-- End section -->
		
		<section id="team-skills" class="parallax-section bg-two">
			<div class="container">
				<div class="row wow fadeInDown" data-wow-duration="500ms">
					
					<!-- section title -->
					<div class="title text-center">
						<h2>Competências Principais</h2>
					</div>
					<!-- /section title -->
					
					<!-- skill set -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms">
						<div class="skill-chart text-center">
							<div class="icon-box" id="icon-semi_black">
								<i class="fa fa-cubes fa-4x icon-color"></i>
							</div>	
							<h3 class="for_white"> Blender</h3>
							<p class="for_white_semi_black" align="justify">Domínio da ferramenta, modelagem, texturização, iluminação, game, yafaray e simulações físicas.</p>
						</div>
					</div>
					<!-- end skill set -->
					
					<!-- skill set -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="skill-chart text-center">
							<div class="icon-box" id="icon-semi_black">
								<i class="fa fa-cube fa-4x"></i>
							</div>	
							<h3 class="for_white"> 3Ds Max</h3>
							<p class="for_white_semi_black" align="justify">Conhecimentos básicos da ferramenta, modelagem, iluminação, yafaray.</p>
						</div>
					</div>
					<!-- end skill set -->
					
					<!-- skill set -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
						<div class="skill-chart text-center">
							<div class="icon-box" id="icon-semi_black">
								<i class="fa fa-cube fa-4x"></i>
							</div>	
							<h3 class="for_white">Unity</h3>
							<p class="for_white_semi_black" align="justify">Conhecimento da ferramenta, C#, Java Script, Terrain, texturização, Assets, UI, 2D Games.</p>
						</div>
					</div>
					<!-- end skill set -->
					
					<!-- skill set -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
						<div class="skill-chart text-center">
							<div class="icon-box" id="icon-semi_black">
								<i class="fa fa-html5 fa-4x"></i>
							</div>	
							<h3 class="for_white"> Web Design</h3>
							<p class="for_white_semi_black" align="justify">Conhecimentos em HTML, PHP, CSS, jQuery, Angular, Java Script.</p>
						</div>
					</div>
					<!-- end skill set -->
					
				</div>  		<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->
		
		
		<!-- 
		Start Suplementares
		=========================================== -->
		<section id="competencias_Suplementares" class="bg-one">
			<div class="container">
				<div class="row wow fadeInDown" data-wow-duration="500ms">
				
					<br>
					<br>
					<br>
					<!-- section title -->
					<div class="title text-center wow fadeIn" data-wow-duration="1500ms" >
						<h2>Competências Suplementares</h2>
					</div>
					<!-- /section title -->
					
					<!-- About item -->					
					<div class="box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about kill-margin-bottom">
							<div>
								
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"> <i id="cor-icone" class="fa fa-comment-o fa-1x"></i> Inglês</h3>
								<hr>
								<p class="for_white_semi_white" align="justify"><b>Leitura:</b> Intermediário<br> <b>Escrita:</b> Básico<br> <b>Oratória:</b> Básico</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->
					<div class="box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about">
							<!-- Express About Yourself -->
							<div class="about-content text-center"> <!-- <i class="fa fa-terminal fa-1x"></i> -->
								<h3 class="for_white_quase_white"> <i id="cor-icone" class="fa fa-code fa-1x"></i> Linguagens</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Bom conhecimento aplicado nas linguagens: C, C#, Java, JavaScript, Python, PHP, SQL, AngularJS, HTML, Jquery, com aperfeiçoamento através de cursos e experiência profissional.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class=" box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about kill-margin-bottom">
							<div>
								
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"><i id="cor-icone" class="fa fa-cogs fa-1x"></i> Hardware</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Conhecimento avançado e experiência profissional.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->
					<div class=" box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about">											
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"><i id="cor-icone" class="fa fa-picture-o fa-1x"></i> Photoshop</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Dominio do programa, edição de imagens, ambiente 3D, layers, brushes, etc. obtido através de cursos.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class=" box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about kill-margin-bottom">
							<div>
								
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"><i id="cor-icone" class="fa fa-picture-o fa-1x"></i> Illustrator</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Conhecimento satisfatório do programa e principais funções.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class=" box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about kill-margin-bottom">
							<div>
								
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"><i id="cor-icone" class="fa fa-picture-o fa-1x"></i> CorelDRAW</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Conhecimento intermediário do programa, vetorização e principais funções, obtido através de cursos.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
																				
					<!-- About item -->					
					<div class=" box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about kill-margin-bottom">
							<div>
								
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"><i id="cor-icone" class="fa fa-file-code-o fa-1x"></i> Visual Studio</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Bons conhecimentos do software obtido através de cursos.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
										
					<!-- About item -->					
					<div class=" box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about kill-margin-bottom">
							<div>
								
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"><i id="cor-icone" class="fa fa-file-code-o fa-1x"></i> NetBeans</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Conhecimento intermediário da ferramenta e compilação das linguagens: Java, SQL, PHP, HTML, JavaScript.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class=" box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about kill-margin-bottom">
							<div>
								
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"><i id="cor-icone" class="fa fa-file-code-o fa-1x"></i> MySql</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Competências em estruturação de banco de dados, criação e conexão de tabelas, lógica de fluxograma em SQL, entre outros, com cursos realizados na área e experiência profissional.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class=" box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about kill-margin-bottom">
							<div>
								
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"><i id="cor-icone" class="fa fa-gamepad fa-1x"></i> CryEngine 3</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Conhecimentos satisfatório da Engine.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
														
					<!-- About item -->					
					<div class=" box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about kill-margin-bottom">
							<div>
								
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"><i id="cor-icone" class="fa fa-gamepad fa-1x"></i> Construct 2</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Conhecimento intermediário do software, lógica de programação em blocos, layers, etc. Cursos realizados na área.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->
					
					<!-- About item -->					
					<div class=" box wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
						<div class="wrap-about kill-margin-bottom">
							<div>
								
							</div>
							<!-- Express About Yourself -->
							<div class="about-content text-center">
								<h3 class="for_white_quase_white"><i id="cor-icone" class="fa fa-desktop fa-1x"></i> Pacote Office</h3>
								<hr>
								<p class="for_white_semi_white" align="justify">Conhecimento intermediário.</p>
							</div>
						</div>
					</div> 
					<!-- End About item -->

				</div>  		<!-- End row -->
			</div>   	<!-- End container -->
		</section>   <!-- End section -->
		
		<!--
		Start Counter Section
		==================================== -->
		
		<section id="twitter-prefeed" class="parallax-section">
			<div class="container">
			<br><br><br><br><br><br><br><br>
			</div>   	<!-- End container -->
		</section>   <!-- End section -->
				
		<!-- Start Portfolio Section
		=========================================== -->
		
		<section id="showcase" class="bg-one">
			<div class="container">
				<div class="row wow fadeInDown" data-wow-duration="500ms">
					<div class="col-lg-12">
					
						<!-- section title -->
						<div class="title text-center">
							<h2>Portfólio <span class="color"></span></h2>
						</div>
						<!-- /section title -->
					
						<!-- portfolio item filtering -->
						<div class="portfolio-filter clearfix">
							<ul class="text-center">
							    <li><a href="javascript:void(0)" class="filter" data-filter="all">TODOS</a></li>
								<li><a href="javascript:void(0)" class="filter" data-filter=".ambiente">AMBIENTES</a></li>
								<li><a href="javascript:void(0)" class="filter" data-filter=".objeto">OBJETOS</a></li>
								<li><a href="javascript:void(0)" class="filter" data-filter=".animacao">ANIMAÇÕES</a></li>
								<li><a href="javascript:void(0)" class="filter" data-filter=".web">WEB SITES</a></li>
							</ul>
						</div>
						<!-- /portfolio item filtering -->
						
					</div> <!-- /end col-lg-12 -->
				</div> <!-- end row -->
			</div>	<!-- end container -->
	
			<!-- portfolio items -->
			<div class="portfolio-item-wrapper wow fadeInUp" data-wow-duration="500ms">
                <ul id="og-grid" class="og-grid">
				
					<!-- single portfolio item -->	
					<li class="mix ambiente">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/1_zoom.jpg" data-title="Ambiente Praiano Clean" data-description="Ambientação praiana desenvolvida com intenção de trabalhar a delicadeza e o movimento, através do uso de tecidos leves, influenciados pelo vento. <br> O uso do colchonete objetiva transmitir conforto e atratividade ao cenário. <br> <br> Resultado construído através de referências coletadas na internet.">
							<img src="img/portfolio/1.jpg" alt="Ambiente Praiano Clean">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix ambiente">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/2_zoom.jpg" data-title="Ambiente Low Poly" data-description="Ambiente geométrico poligonal desenvolvido para uso em games com finalidade de demonstrar variabilidade de portfólio. <br> <br> Resultado construído sem uso de referências.">
							<img src="img/portfolio/2.jpg" alt="Ambiente Low Poly">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix objeto">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/3_zoom.jpg" data-title="Peça Decorativa" data-description="Peça decorativa moderna trabalhada em curva e cor, construída com objetivo de revelar discretamente um ambiente fish eye sob reflexo da superfície cromada das esferas. <br> <br> Resultado construído sem uso de referências.">
							<img src="img/portfolio/3.jpg" alt="Peça Decorativa">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix ambiente">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/4_zoom.jpg" data-title="Rack Contemporâneo" data-description="Rack moderno e extenso disposto em uma parede ampla com sutis sinais de continuidade do ambiente objetivando transmitir de forma indireta tons de suntuosidade e luxo, sem ostentação. Uso das cores busca reafirmar tal objetivo. <br> <br> Resultado construído através de referências coletadas na internet e em revistas.">
							<img src="img/portfolio/4.jpg" alt="Rack Contemporâneo">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix objeto">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/5_zoom.jpg" data-title="Sofá Contemporâneo" data-description="Sofá contemporâneo construído com propósito de demonstrar competência para atuação na área de still 3D. <br> <br> Resultado construído sem uso de referências.">
							<img src="img/portfolio/5.jpg" alt="Sofá Contemporâneo">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix ambiente">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/6_zoom.jpg" data-title="Escritório Contemporâneo" data-description="Escritório moderno e luminoso, evidenciado através de uma grande janela ao longo da extensão da parede. Dispõe da intenção de transmitir a sensação de um ambiente de trabalho leve e requintado. <br> <br> Resultado construído sem uso de referências.">
							<img src="img/portfolio/6.jpg" alt="Escritório Contemporâneo">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>	
						</a>
					</li>
					<!-- /single portfolio item -->
										
					<!-- single portfolio item -->
					<li class="mix objeto">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/7_zoom.jpg" data-title="Copos e Taças" data-description="Conjunto de copos e taças dispostos simetricamente em um fundo preto com intenção de transmitir luxuosidade. <br> Construído com propósito de demonstrar competência para trabalhar com vidros delicados. <br> <br> Resultado construído sem uso de referências.">
							<img src="img/portfolio/7.jpg" alt="Copos e Taças">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix objeto">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/8_zoom.jpg" data-title="Bola de Tênis" data-description="Bola de tênis Wilson 1 revestida com micro vértices para simulação de feltro, disposta sobre uma fotografia editada de alta resolução. <br> Construída com propósito de demonstrar competência em mesclagem 2D com 3D. <br> <br> Resultado construído através de referências coletadas na internet.">
							<img src="img/portfolio/8.jpg" alt="Bola de Tenis">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix web">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/9_zoom.jpg" data-title="Cantina Regatta Website" data-description="Página corporativa desenvolvida para restaurante de temática naval rudimentar. Possui funcionalidades de blog e login para clientes. <br> <br>Resultado construído sem uso de referências.">
							<img src="img/portfolio/9.jpg" alt="Cantina Regatta Website">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix web">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/10_zoom.jpg" data-title="DEMS Website" data-description="Sistema corporativo desenvolvido para empresa de projetos técnologicos com funcionalidades de CRM, diagrama de Gantt e acompanhamento de status dos projetos. <br> <br> Resultado construído através de referências coletadas na internet.">
							<img src="img/portfolio/10.jpg" alt="DEMS Website">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix ambiente">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/11_zoom.jpg" data-title="Ambiente Clássico Moderno" data-description="Sala de estar construída em arquitetura clássica moderna, decorada com múltiplos objetos. <br> O projeto objetiva a retratação completa do cenário referência para demonstração de competência de trabalhar com replicação. <br> A escolha do ambiente se deu em virtude da complexidade da referência, em detrimento de múltiplos detalhes e uma complexa iluminação, câmera e reflexo. <br> <br> Resultado construído através de referência coletada na internet.">
							<img src="img/portfolio/11.jpg" alt="Ambiente Clássico Moderno">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix objeto">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/12_zoom.jpg" data-title="Gota em Foco" data-description="Torneira padrão com gota em foco objetivando demonstrar competência para atuação com fluidos. <br> <br>Resultado construído sem uso de referências.">
							<img src="img/portfolio/12.jpg" alt="Gota em Foco">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix objeto">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/13_zoom.jpg" data-title="Fone de Ouvido em Foco" data-description="Fone de ouvido intra-auricular clássico, em detalhes. Desenvolvido para expor habilidades com curvas e cilindros. <br> <br>Resultado construído sem uso de referências.">
							<img src="img/portfolio/13.jpg" alt="Fone de Ouvido em Foco">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->
					
					<!-- single portfolio item -->
					<li class="mix objeto">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/14_zoom.jpg" data-title="Espreguiçadeira Moderna" data-description="Espreguiçadeira contemporânea construída com propósito de demonstrar competência para atuação na área de still 3D. <br> <br> Resultado construído sem uso de referências.">
							<img src="img/portfolio/14.jpg" alt="Espreguiçadeira Moderna">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->

					<!-- single portfolio item -->	
					<li class="mix ambiente">
						<a href="javascript:void(0)" data-largesrc="img/portfolio/15_zoom.jpg" data-title="Sala de estar contemporânea com varanda" data-description="Sala de estar conjunta com varanda ao fundo, retratando um apartamento residencial padrão. <br> Ambiente desenvolvido e decorado com diversos objetos de autoria própria, construídos e dispostos com intenção de demonstrar competência com modelagem de ambientes. <br> <br> Resultado construído sem uso de referências.">
							<img src="img/portfolio/15.jpg" alt="Ambiente Interno Sala">
							<div class="hover-mask">
								<h3>Clique para mais detalhes</h3>
								<span>
									<i class="fa fa-plus fa-2x"></i>
								</span>
							</div>
						</a>
					</li>
					<!-- /single portfolio item -->									
					
					<!-- single portfólio item -->
					<!-- =====Agua Realista===== -->
					<li class="mix animacao">
						<iframe id="videos" width="560" height="315" src="https://www.youtube.com/embed/043UQyPhfoo?rel=0" frameborder="0" gesture="media" allowfullscreen></iframe>
					</li>
					<!-- /single portfólio item -->
					
					<!-- single portfólio item -->
					<!-- =====Tocha===== -->
					<li class="mix animacao">
						<iframe id="videos" width="560" height="315" src="https://www.youtube.com/embed/6645pHh1PaI?rel=0" frameborder="0" allow=" frameborder="0" gesture="media" allowfullscreen></iframe>
					</li>				
					<!-- /single portfólio item -->
						
				</ul> <!-- end og grid -->
			</div>  <!-- portfolio items wrapper -->
			
		</section>   <!-- End section -->

		<!-- Srart Contact Us
		=========================================== -->		
		<section id="contact-us" class="bg-two">
			<div class="container">
				<div class="row for_white">
					
					<!-- section title -->
					<div class="title text-center wow fadeIn" data-wow-duration="500ms">
						<h2-white>Contato<span class="color"></span></h2>
					</div>
					<!-- /section title -->
					
					<!-- Contact Details -->
					<div class="contact-info col-md-6 wow fadeInUp" data-wow-duration="500ms">
						
						<p id="alinhamento_texto">
							<br>Está interessado em meu trabalho?<br>
							Entre em contato comigo através deste formulário, midias sociais ou pelos dados abaixo. Prometo retornar o mais rápido possível.
						</p>
						
						<div class="contact-details">
							<div id="pre">
							
							</div>
							<div class="con-info clearfix">
								<i class="fa fa-phone fa-lg"></i>
								<span>Telefone: (48) 9 9640-9286</span>
							</div>
														
							<div class="con-info clearfix">
								<i class="fa fa-envelope fa-lg"></i>
								<span>E-mail: mateusbcb@gmail.com</span>
							</div>
							
							<!-- Footer Social Links -->
							<div class="social-icon">
								<ul>
									<li><a href="https://www.facebook.com/mateus.brandt?ref=br_rs" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<!--<li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
									<!-- <li><a href="https://plus.google.com/109824556595638264129?hl=pt-BR" target="_blank"><i class="fa fa-google-plus"></i></a></li> -->
									<!--<li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>-->
									<li><a href="https://www.linkedin.com/in/mateus-mateusbcb-25928b30/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
									<!--<li><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>-->
									<!--<li><a href="#" target="_blank"><i class="fa fa-pinterest"></i></a></li>-->
								</ul>
							</div>
							<!--/. End Footer Social Links -->
						
						</div>
					</div>
					<!-- / End Contact Details -->
						
					<!-- Contact Form -->
					<div class="contact-form col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
						<form name="myForm" method="post" action="enviar.php">
						
							<div class="form-group">
								<input type="text" placeholder="NOME" class="form-control" name="name" id="name" ng-model="name" required>
							</div>
							
							<div class="form-group">
								<input type="email" placeholder="E-MAIL" class="form-control" name="email" id="email" ng-model="email" required>
							</div>
							
							<div class="form-group">
								<input type="text" placeholder="ASSUNTO" class="form-control" name="subject" id="subject" ng-model="subject" required>
							</div>
							
							<div class="form-group">
								<textarea rows="6" placeholder="MENSAGEM" class="form-control" name="message" id="message" ng-model="message" required></textarea>	
							</div>

							<span>Quanto é 5 - 3?</span>
							<div class="form-group">
								<input type="text" placeholder="Informe o resultado da equação acima" class="form-control" name="captcha" id="captcha" ng-model="captcha" required>
							</div>

							

							
							<!-- <div id="mail-success" class="success">
								Obrigado. O e-mail esta a caminho :)
							</div>
							
							<div id="mail-fail" class="error">
								Desculpe, não sei o que aconteceu. Tente novamente e, se o problema persistir, envie uma mensagem manualmente para: mateusbcb@gmail.com
							</div> -->
							
							<!-- <div id="cf-submit">
								<input type="submit" id="contact-submit" class="btnwhite btn-transparent" value="ENVIAR">
							</div>			 -->			
							<input type="submit" class="btnwhite btn-transparent" value="ENVIAR"> <!-- id="contact-submit" --> 
						</form>
					</div>
					<!-- ./End Contact Form -->
					
					
				</div> <!-- end row -->
			</div> <!-- end container -->
			
			<!-- Google Map 
			<div class="google-map wow fadeInDown" data-wow-duration="500ms">
				<div id="map-canvas"></div>
			</div>	-->
			<!-- /Google Map -->
			
			<section id="map-section">
			<!-- Google Map -->
			<div id="mapa" class="wow fadeInDown" data-wow-duration="500ms">
				<iframe id="localizacao" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1768.0945461544957!2d-48.5251065418857!3d-27.58766659571038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9527385bd95bb983%3A0x98319be3d2e6f555!2sR.+Lauro+Linhares%2C+970+-+Trindade%2C+Florian%C3%B3polis+-+SC%2C+88036-002!5e0!3m2!1spt-BR!2sbr!4v1508813284408" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>	
			<!-- /Google Map -->
		</section>   <!-- end section -->
			
		</section> <!-- end section -->
		<!-- end Contact Area
		========================================== -->
		
		<!-- start Footer Area
		========================================== -->	
		
		<section id="footer" class="bg-one">
			<footer id="footer">
				<div class="container">
					<!-- <div class="row wow fadeInUp" data-wow-duration="500ms"> -->
						<div class="col-lg-12">
						
						<!-- copyright -->
							<div class="img_rodape"> <img src="img/mateus.png" alt="Mateus"/> </div>
							<div class="rodape_right"> <b> Blender, 3Ds Max, Unity e Web Design </b> </div>
							<!-- /copyright -->
						
						</div> <!-- end col lg 12 -->
					<!-- </div>  -->
				</div> 
			</footer> <!-- end footer -->	
		</section> <!-- end section -->
		
		<!-- Back to Top
		============================== -->
		<a href="javascript:;" id="scrollUp">
			<i class="fa fa-angle-up fa-2x"></i>
		</a>
		
		<!-- end Footer Area
		========================================== -->
		
		<!-- 
		Essential Scripts
		=====================================-->
		
		<!-- Main jQuery -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<!-- Bootstrap 3.1 -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Slitslider -->
		<script src="js/jquery.slitslider.js"></script>
		<script src="js/jquery.ba-cond.min.js"></script>
		<!-- Parallax -->
		<script src="js/jquery.parallax-1.1.3.js"></script>
		<!-- Owl Carousel -->
		<script src="js/owl.carousel.min.js"></script>
		<!-- Portfolio Filtering -->
		<script src="js/jquery.mixitup.min.js"></script>
		<!-- Custom Scrollbar -->
		<script src="js/jquery.nicescroll.min.js"></script>
		<!-- Jappear js -->
		<script src="js/jquery.appear.js"></script>
		<!-- Pie Chart -->
		<script src="js/easyPieChart.js"></script>
		<!-- jQuery Easing -->
		<script src="js/jquery.easing-1.3.pack.js"></script>
		<!-- tweetie.min -->
		<script src="js/tweetie.min.js"></script>
		<!-- Google Map API -->
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<!-- Highlight menu item -->
		<script src="js/jquery.nav.js"></script>
		<!-- Sticky Nav -->
		<script src="js/jquery.sticky.js"></script>
		<!-- Number Counter Script -->
		<script src="js/jquery.countTo.js"></script>
		<!-- wow.min Script -->
		<script src="js/wow.min.js"></script>
		<!-- For video responsive -->
		<script src="js/jquery.fitvids.js"></script>
		<!-- Grid js -->
		<script src="js/grid.js"></script>
		<!-- Custom js -->
		<script src="js/custom.js"></script>
		<!-- angular js -->
		<script src="js/angular.min.js"></script>

    </body>
</html>